<%- include('header'); -%>

<h1> Hello </h1>
<p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis doloribus nisi quibusdam perferendis natus, dolorum eligendi, quis rem nulla, similique iste. Pariatur veritatis dolores unde repellat ullam eveniet nemo corporis.</p>

<%- include('footer'); -%>